<div class="dark-green"></div>
<div class="light-green"></div>

<div class="footer-content">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0 d-flex align-items-center">
  <img src="/assets/images/logos/TDC_logo_svart.png" alt="{% include i18n.html ns='alt' k='tdc_logo' %}" class="img-fluid logo logo w-50" />
      </div>
      <div class="col-md-4 mb-4 mb-md-0 d-flex align-items-center">
  <img src="/assets/images/dnd/Dataforeningen_logo_horisontal_svart_rgb.svg" alt="DND Logo" class="img-fluid logo w-50" />
      </div>
      <div class="col-md-4">
        <p>{% if page.lang == 'en' %}Find us here:{% else %}Du finner oss her:{% endif %}</p>
        <div class="social-links">
          <!-- Facebook -->
          <a href="https://www.facebook.com/TDConf" class="social-icon" target="_blank">
            <img src="/assets/images/facebook.png" alt="Facebook">
          </a>
          <!-- LinkedIn -->
          <a href="https://www.linkedin.com/company/trondheimdc/" class="social-icon" target="_blank">
            <img src="/assets/images/linkedin.png" alt="LinkedIn">
          </a>
          <!-- YouTube -->
          <a href="https://www.youtube.com/@trondheimdc/videos" class="social-icon" target="_blank">
            <img src="/assets/images/youtube.png" alt="YouTube">
          </a>
          <!-- Email -->
          <a href="mailto:connect@trondheimdc.no" class="social-icon">
            <img src="/assets/images/email.png" alt="Email">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>