<div class="dark-green"></div>
<div class="light-green"></div>

<div class="footer-content">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0 d-flex align-items-center">
        <img src="../../assets/images/logos/TDC_logo_svart.png" alt="TDC Logo" class="img-fluid logo logo w-50" />
      </div>
      <div class="col-md-4 mb-4 mb-md-0 d-flex align-items-center">
        <img src="../../assets/images/logos/DND_logo_svart.png" alt="DND Logo" class="img-fluid logo w-50" />
      </div>
      <div class="col-md-4">
        <h3>Spørsmål?</h3>
        <p>
          Send oss en e-post på <a class="footer-link" href="mailto:connect@trondheimdc.no">connect@trondheimdc.no</a> så skal vi svare så godt vi kan.
        </p>
      </div>
    </div>
  </div>
</div>
