<header class="sticky-header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container-fluid">
        <a href="/" class="brand-logo navbar-brand logo">
            <img src="../../assets/images/logos/logo-green.png" alt="TDC logo" />
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
            <ul class="navbar-nav justify-content-center align-items-center gap-2 gap-lg-4">
                <li class="nav-item">
                    <a href="/about/" class="nav-link {% if page.nav_active == 'about' %}active{% endif %}">Om TDC</a>
                </li>
                <li class="nav-item">
                    <a href="/info/" class="nav-link {% if page.nav_active == 'info' %}active{% endif %}">Info</a>
                </li>
            
                <li class="nav-item">
                    <a href="/program/" class="nav-link {% if page.nav_active == 'program' %}active{% endif %}">Program</a>
                </li>
                <li class="nav-item">
                    <a href="/speakers/" class="nav-link {% if page.nav_active == 'speakers' %}active{% endif %}">Speakers</a>
                </li>
                <li class="nav-item">
                    <a href="/coc/" class="nav-link {% if page.nav_active == 'coc' %}active{% endif %}">Code of conduct</a>
                </li>
                <li class="nav-item">
                    <a href="/vol/" class="nav-link {% if page.nav_active == 'vol' %}active{% endif %}">Frivillig</a>
                </li>
                <li class="nav-item">
                    <a href="/tickets/" class="nav-link {% if page.nav_active == 'tickets' %}active{% endif %}">Billetter</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</header>