<div class="hero-logo-stack text-center text-md-left">
  <img src="{{ page.image_header }}" class="img-fluid hero-tdc-logo" alt="{% include i18n.html ns='alt' k='tdc_logo' %}" />
  <div class="hero-partner d-flex align-items-center justify-content-center justify-content-md-start mt-3">
    <span class="hero-partner-prefix mr-2">{% include i18n.html ns='hero' k='partnership_prefix' %}</span>
    <img src="/assets/images/partners/dataforeningen-white.svg" alt="{% include i18n.html ns='hero' k='partnership_partner' %}" class="hero-partner-logo" />
  </div>
</div>
