<div class="hero-date-wrapper" aria-labelledby="hero-date-full">
  <time datetime="2025-10-20" class="d-inline-block">
    <div class="hero-date-line hero-date-day">{% include i18n.html ns='hero' k='date_day' %}</div>
    <div class="hero-date-line hero-date-year">{% include i18n.html ns='hero' k='year' %}</div>
  </time>
  <div class="hero-date-line hero-date-venue">{% include i18n.html ns='hero' k='venue' %}</div>
  <p id="hero-date-full" class="sr-only">{% include i18n.html ns='hero' k='date_full' %} – {% include i18n.html ns='hero' k='venue' %}</p>
</div>
