{%- assign __lang = page.lang | default: site.lang | default: 'no' -%}
{%- assign __bag = site.data.i18n[__lang] -%}
{%- if __bag == nil -%}
  {%- assign __bag = site.data.i18n['no'] -%}
{%- endif -%}
{%- if __bag == nil -%}
  {%- assign __bag = site.data.i18n['en'] -%}
{%- endif -%}
{%- assign __val = nil -%}
{%- if include.ns -%}
  {%- assign __ns = __bag[include.ns] -%}
  {%- if __ns -%}
    {%- assign __val = __ns[include.k] -%}
  {%- endif -%}
{%- else -%}
  {%- assign __val = __bag[include.k] -%}
{%- endif -%}
{%- if __val and __val != '' -%}
  {{ __val }}
{%- else -%}
  {{ include.fallback | default: include.k }}
{%- endif -%}
