.main-page{
    background-color: var(--main-page-background-color);
}
.main-page-container{
    
}

.image-container, .text-container{
    margin: 10px;
}

.text-container{
    font-size: 2em;
    color: white;
}