.bg-purple {
    background-color: var(--color-purple3) !important;
  }

.bg-purple hr {
    background-color: #fff;
}

.btn-buy {
    color: #fff;
    background-color: var(--color-red4);
    border-color: var(--color-red3);
  }

a.btn-buy:hover {
    color: #fff;
    background-color: var(--color-red3);
    border-color: var(--color-red2);
  }
