:root {
    --main-page-background-color: rgb(41, 41, 41);
    --partner-page-background-color: rgb(178, 210, 168);

    --section-background-color-primary: rgb(178, 210, 168);
    --section-background-color-secondary: #f2faff;

    --button-background-color-primary: rgb(178, 210, 168);
    
}