.dark-green {
  background-color: var(--color-green3);
  height: 40px;
  width: 100%;
}

.light-green {
  background-color: var(--color-green2);
  height: 40px;
  width: 100%;
}
.footer-content {
  background-color: var(--color-green1);
  padding: 20px 0;
  color: black;
}

.footer-link {
 color: var(--color-black3)
}