.dark-green {
  background-color: var(--color-green3);
  height: 40px;
  width: 100%;
}

.light-green {
  background-color: var(--color-green2);
  height: 40px;
  width: 100%;
}
.footer-content {
  background-color: var(--color-green1);
  padding: 20px 0;
  color: black;
}

.footer-link {
 color: var(--color-black3)
}

/* Social media links with icons */
.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

.social-icon img {
  width: 24px;
  height: 24px;
}