:root {
    --header-height: 5em;
    --header-background-color: var(--color-green3); /* Changed for better contrast */
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 999;
    margin: 0;
}

.navigation {
    background-color: var(--header-background-color);
    width: 100%;
}

/* New rule to remove lateral padding */
.container-fluid {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

/* Logo alignment */
.sticky-header .logo {
    margin-left: 0.5em;
}

/* Override default .nav-link color for dark navbar */
.navbar-dark .nav-link {
    color: var(--color-black3); /* Changed to a darker color */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .navbar .container-fluid {
        flex-direction: column;
    }
    .navbar-nav {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .navbar-nav .nav-item {
        margin: 0.5em 0;
    }
    .sticky-header .logo img {
        max-height: 3em;
    }
}
