@import "colors.css";

/* @import "pages/main.page.css";
@import "pages/contact.page.css";  */
@import "pages/partner.page.css";

@import "default.css";

@import "footer.css";
@import "header.css";
@import "sections.css";
@import "sessionize-overrides.css";

@import "button.css";
/* @import "image.css"; */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --header-height: 4em;
  --header-background-color: var(--color-black3);
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

:focus{
  box-shadow: none !important;
  outline: 2px solid var(--color-red2) !important;
  border-radius: 4px;
  outline-offset: 4px;
}

a{
  color: var(--color-red3);
}

a:hover{
  color: var(--color-red1);
}

.link-with-background{
  background-color: var(--color-purple3);
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.link-with-background:hover{
  color: white;
  padding: 10px;
}