.main-section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    justify-content: center;
    padding:2em;
}

.cfp-section{
    flex-direction: column;
    background-color: var(--section-background-color-primary);
}

.short-about-page {
    background-color: var(--section-background-color-secondary);
    justify-content: center;
    align-items: center;   
}

.short-about-page img {
    padding-right: 30px
}

