<!-- CFP Section -->
<section id="cfp" class="section cfp-section">
    <img class="section-img-right" src="/assets/images/TDC2024/TDC_2024_1 (Small).jpg" alt="CFP Section Image" />
    <h1>Call for Presentations</h1>
    {% assign cfp_pages = site.posts | where: "name", "cfp_page" %}
    {% for post in cfp_pages %}
        <article class="cfp-article {{ post.language }}">
            <header>
                <h2>{{ post.title }}</h2>
            </header>
            <div>
                {{ post.content }}
            </div>
        </article>
    {% endfor %}
</section>