<main class="content">
    {% include content/home.html %}
    {% include content/cfp.html %}
    {% include content/partners.html %}
    {% include content/contact.html %}
    {% include content/short-about.html %}
    <!-- Language Toggle Script -->
    <script>
        function getClientLanguage(){
            const urlParams = new URLSearchParams(window.location.search);
            const lang = urlParams.get('lang');
            if (lang) return lang;
            const language = navigator.language || navigator.userLanguage; 
            return (!language || language.length < 2) ? 'en' : language.substr(0, 2);
        }
        function hideElements(languageToHide){
            const elements = document.getElementsByClassName(languageToHide);
            for (let i = 0; i < elements.length; i++) {
                elements[i].style.display = 'none';
            }
        }
        document.addEventListener('DOMContentLoaded', function () {
            switch(getClientLanguage()){
                case 'no':
                    hideElements('en');
                    break;
                case 'en':
                default:
                    hideElements('no');
                    break;
            }
        });
    </script>
</main>