<section id="contact" class="section">
    <h1>Contact</h1>
    {% assign contact_pages = site.posts | where: "name", "contact_page" %}
    {% if contact_pages.size > 0 %}
    {% for post in contact_pages %}
    <article class="{{ post.language }}">
        <header>
            <h2>{{ post.title }}</h2>
        </header>
        <div>
            {{ post.content }}
        </div>
    </article>
    {% endfor %}
    {% else %}
    <p>Contact information will be provided soon.</p>
    {% endif %}
    <img class="section-img-left" src="/assets/images/TDC2024/TDC_2024_22 (Small).jpg" alt="Contact Section Image" />
</section>
