<section id="home" class="main-section main-page">
    <div class="main-page-container">
        <div class="image-container">
            <img src="assets/images/tdc-large-logo.png" alt="Stor logo av Trondheim DC" />
        </div>
        <div class="text-container">
            OCTOBER 20<br>
            2025<br>
            Clarion Hotel Trondheim
        </div>
        <a href="https://sessionize.com/tdc2025" class="button btn-lg btn-primary btn" target="_blank">
            Call for presentations has opened!
        </a>
    </div>
</section>
