<section id="partners" class="section">
    <img class="section-img-left" src="https://via.placeholder.com/300?text=Partners" alt="Partners Section Image" />
    <h1>Partners</h1>
    {% assign partner_pages = site.posts | where: "name", "partner_page" %}
    {% if partner_pages.size > 0 %}
        {% for post in partner_pages %}
            <article class="{{ post.language }}">
                <header>
                    <h2>{{ post.title }}</h2>
                </header>
                <div>
                    {{ post.content }}
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p>Our partners will be announced soon.</p>
    {% endif %}
</section>
