<section id="partners" class="section partner-page">
    <ul class="partnerlogos">
        <li>
            <a target="_blank" title="Bekk" href="https://bekk.no">
                <img alt="Bekk" src="/assets/images/partners/bekk.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Bouvet" href="https://bouvet.no">
                <img alt="Bouvet" src="/assets/images/partners/bouvet.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Brilliant" href="https://brilliant.no">
                <img alt="Brilliant" src="/assets/images/partners/brilliant.webp" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Capgemini" href="https://capgemini.no">
                <img alt="Capgemini" src="/assets/images/partners/capgemini.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Computas" href="https://computas.no">
                <img alt="Computas" src="/assets/images/partners/Computas_logo_liggende_hvit.png" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Crayon Consulting" href="https://crayonconsulting.no">
                <img alt="Crayon Consulting" src="/assets/images/partners/crayon.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="EL og IT forbundet" href="https://elogit.no">
                <img alt="EL og IT forbundet" src="/assets/images/partners/ELogIT.png" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Equinor" href="https://equinor.no">
                <img alt="Equinor" src="/assets/images/partners/equinor.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Funktive" href="https://funktive.no">
                <img alt="Funktive" src="/assets/images/partners/funktive.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Hemit" href="https://hemit.no">
                <img alt="Hemit" src="/assets/images/partners/hemit.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Norsk Helsenett" href="https://www.nhn.no/">
                <img alt="Norsk Helsenett" src="/assets/images/partners/norsk-helsenett.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Itema" href="https://itema.no">
                <img alt="Itema" src="/assets/images/partners/itema.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="ITsjefen" href="https://itsjefen.no">
                <img alt="ITsjefen" src="/assets/images/partners/itsjefen.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Accelerate at Iver" href="https://www.iver.com/no/">
                <img alt="Accelerate at Iver" src="/assets/images/partners/iver.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Kantega" href="https://kantega.no">
                <img alt="Kantega" src="/assets/images/partners/kantega.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Arbeids- og velferdsetaten" href="https://www.nav.no/">
                <img alt="Arbeids- og velferdsetaten" src="/assets/images/partners/nav.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Netcompany" href="https://www.netcompany.no/">
                <img alt="Netcompany" src="/assets/images/partners/netcompany-logotype-white-RGB.png" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Norconsult Digital" href="https://norconsultdigital.no/">
                <img alt="Norconsult Digital" src="/assets/images/partners/norconsult-digital-svg-white.svg"
                    width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Signicat" href="https://signicat.no">
                <img alt="Signicat" src="/assets/images/partners/signicat.png" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Skatteetaten" href="https://skatteetaten.no">
                <img alt="Skatteetaten" src="/assets/images/partners/skatteetaten.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Sopra Steria" href="https://www.soprasteria.no">
                <img alt="Sopra Steria" src="/assets/images/partners/sopra-steria.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Sparebank1 Utvikling" href="https://sparebank1.dev">
                <img alt="Sparebank1 Utvikling" src="/assets/images/partners/sparebank1dev.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Sticos" href="https://sticos.no">
                <img alt="Sticos" src="/assets/images/partners/sticos.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Systek" href="https://systek.no">
                <img alt="Systek" src="/assets/images/partners/systek.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Tietoevry" href="https://www.tietoevry.com/">
                <img alt="Tietoevry" src="/assets/images/partners/tietoevry.png" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Twoday" href="https://twoday.no/">
                <img alt="Twoday" src="/assets/images/partners/twoday.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Variant" href="https://variant.no">
                <img alt="Variant" src="/assets/images/partners/variant.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Webstep" href="https://webstep.no">
                <img alt="Webstep" src="/assets/images/partners/webstep.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Sportradar" href="https://sportradar.com">
                <img alt="Sportradar" src="/assets/images/partners/sportradar.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Autronica Fire and Security" href="https://www.autronicafire.com/">
                <img alt="Autronica Fire and Security" src="/assets/images/partners/autronica.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Statens vegvesen" href="https://www.vegvesen.no/">
                <img alt="Statens vegvesen" src="/assets/images/partners/statens-vegvesen.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Domstoladministrasjonen" href="https://www.domstol.no/">
                <img alt="Domstoladministrasjonen" src="/assets/images/partners/domstoladministrasjonen.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="LillEng Driv AS" href="https://lillengdriv.com">
                <img alt="LillEng Driv" src="/assets/images/partners/lilleng-driv.png" width="240">
            </a>
        </li>
    </ul>

    <p><a class="partner-cta" href="https://partner.trondheimdc.no/" target="_blank">{% include i18n.html ns='partners' k='cta' fallback='Bli partner?' %}</a></p>

</section>

<!-- Shuffle partner logos -->
<script>
    function shuffle(parent) {
        if (parent != null) {
            for (var i = parent.children.length; i >= 0; i--) {
                parent.appendChild(parent.children[Math.random() * i | 0]);
            }
        }
    }
    var partnerlogos = document.querySelector('.partnerlogos');
    shuffle(partnerlogos);
</script>