<section id="partners" class="section partner-page">
    <ul class="partnerlogos">
        <li>
            <a target="_blank" title="Bekk" href="https://bekk.no">
                <img alt="Bekk" src="/assets/images/partners/bekk.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Bouvet" href="https://bouvet.no">
                <img alt="Bouvet" src="/assets/images/partners/bouvet.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Capgemini" href="https://capgemini.no">
                <img alt="Capgemini" src="/assets/images/partners/capgemini.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Computas" href="https://computas.no">
                <img alt="Computas" src="/assets/images/partners/Computas_logo_liggende_hvit.png" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Funktive" href="https://funktive.no">
                <img alt="Funktive" src="/assets/images/partners/funktive.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="ITsjefen" href="https://itsjefen.no">
                <img alt="ITsjefen" src="/assets/images/partners/itsjefen.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Arbeids- og velferdsetaten" href="https://www.nav.no/">
                <img alt="Arbeids- og velferdsetaten" src="/assets/images/partners/nav.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Signicat" href="https://signicat.no">
                <img alt="Signicat" src="/assets/images/partners/signicat.png" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Systek" href="https://systek.no">
                <img alt="Systek" src="/assets/images/partners/systek.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Tietoevry" href="https://www.tietoevry.com/">
                <img alt="Tietoevry" src="/assets/images/partners/tietoevry.png" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Variant" href="https://variant.no">
                <img alt="Variant" src="/assets/images/partners/variant.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Webstep" href="https://webstep.no">
                <img alt="Webstep" src="/assets/images/partners/webstep.svg" width="240">
            </a>
        </li>
    </ul>

    <p><a href="https://partner.trondheimdc.no/" target="_blank">Bli partner?</a></p>

</section>

<!-- Shuffle partner logos -->
<script>
    function shuffle(parent) {
        if (parent != null) {
            for (var i = parent.children.length; i >= 0; i--) {
                parent.appendChild(parent.children[Math.random() * i | 0]);
            }
        }
    }
    var partnerlogos = document.querySelector('.partnerlogos');
    shuffle(partnerlogos);
</script>