<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'no' }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TDC 2025</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    {% include header.html %}
        <div class="pt-5">
                <div class="header-composite position-relative hero-header">
                    <img src="/assets/images/standard/Group-9-1.png" class="img-fluid w-100 bg-header" alt="{% include i18n.html ns='alt' k='header_bg' %}" />
                    <div class="overlay-header d-flex flex-column flex-md-row align-items-center align-items-md-start hero-overlay">
                        {% include hero-left.html %}
                        {% include hero-right.html %}
                    </div>
                </div>

        <div class="container mt-5 pb-5">
            <div class="pl-5 pr-5 mb-4 bg-purple rounded-3">
                <div class="container-fluid py-5">
                    <div class="row">
                        <div class="col-md-6 order-1 order-md-2">
                          <img class="img-fluid" src="/assets/images/TDC2024/TDC_2024_178 (Small).jpg" alt="Participants engaged in a talk at the conference">
                        </div>
                        <div class="col-md-6 order-2 order-md-1">
                            {% if page.lang == 'en' %}
                                <h1 class="display-5 fw-bold">{% include i18n.html ns='tickets_page' k='title' %}</h1>
                                <p>{% include i18n.html ns='tickets_page' k='description' %}</p>
                                <p><b>3700 NOK</b></p>
                                <hr>
                                <a class="btn btn-buy btn-lg" href="https://event.checkin.no/123436/tdc-2025"
                                target="_blank">{% include i18n.html ns='tickets_page' k='cta' %}</a>
                            {% else %}
                                <h1 class="display-5 fw-bold">Deltakerbillett</h1>
                                <p>Få tilgang til hele konferansen, inkludert mat og drikke.<br>
                                    Gir også tilgang til konferansefesten på kvelden.</p>
                                <p><b>3700 NOK</b></p>
                                <hr>
                                <a class="btn btn-buy btn-lg" href="https://event.checkin.no/123436/tdc-2025"
                                target="_blank">Kjøp billetter</a>
                            {% endif %}
                        </div>
                      </div>
                </div>
            </div>

            <div class="col-md-12 d-flex flex-column gap-4 mb-4">
                <div class="mb-4">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include content/partners.html %}
        {% include footer.html %}
</body>

</html>